<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=LAPTOP-S8HS46L5\SQLEXPRESS01;Initial Catalog=ROS Clone;Integrated Security=True;"/>
		
	</connectionStrings>
</configuration>
