<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=2122chapeau.database.windows.net;
														Initial Catalog=db_IT1d1;
														User ID=group_IT1d1;
														Password=^_$et3W0hk5J"/>
	</connectionStrings>
</configuration>
